#container {
  flex-direction: column;
  display: flex;

  height: 100%;
}

#controls {
  display: flex;
  justify-content: flex-end;
  height: 10px;
  padding: 10px 20px;
}

.ballContainer {
  flex-grow: 2;
}

.ball {
  background: red;
  border-radius: 50%;
  border: 1px solid black;

  position: absolute;
}
